* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#active1 {
  color: black;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@font-face {
  font-family: "Sweet Aloha";
  src: url(../fuentes/sweet_aloha/Sweet\ Aloha.ttf);
  font-weight: bold;
  font-style: bold;
}
@media (max-width: 549px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header .checkbtn {
    display: block;
    float: right;
    color: white;
    font-size: 30px;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
  }
  .header nav {
    background-color: #004e63;
  }
  .header nav .indice__logo {
    height: 80px;
  }
  .header nav ul {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #004e63;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .header #check {
    display: none;
  }
  .header .link:hover {
    background: none;
    color: grey;
  }
  .header #check:checked ~ ul {
    left: 0;
  }
  .title {
    background-color: #e3f2fd;
  }
  .title h1 {
    font-family: "Sweet Aloha";
    margin-top: 10px;
  }
  .buscador {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buscador input.src {
    text-align: center;
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 3px solid #e3f2fd;
    background: url(../images/buscador.png) no-repeat left;
  }
  .parrafo p {
    background: rgb(153, 180, 191);
    background: linear-gradient(90deg, rgb(153, 180, 191) 0%, rgb(255, 255, 255) 50%, rgb(153, 180, 191) 100%);
    font-size: 20px;
    text-align: center;
  }
  .funcion {
    text-align: center;
  }
  .cardContainer {
    flex-direction: column;
  }
  .cardContainer .card {
    display: flex;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
    cursor: default;
    transition: all 400ms ease;
    width: calc(90% - 40px); /* cambiado desde width: 100% */
  }
  .cardContainer .card:hover {
    box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);
    transform: translateY(-3%);
  }
  .cardContainer .card img {
    width: 100%;
    height: 210px;
  }
  .cardContainer .card .contenido {
    padding: 15px;
    text-align: center;
  }
  .cardContainer .card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
  }
  .cardContainer .card .contenido h3 {
    margin-bottom: 15px;
  }
  .cardContainer .card .contenido a {
    text-decoration: none;
    display: inline-block;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    padding: 3px;
  }
  .cardContainer .card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
  }
  footer {
    background-color: #004e63;
  }
  .title {
    background-color: #e3f2fd;
  }
  .title h1 {
    font-family: "Sweet Aloha";
  }
}
/* NAV BAR */
@media screen and (min-width: 550px) and (max-width: 858px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header .checkbtn {
    display: block;
    float: right;
    color: white;
    font-size: 30px;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
  }
  .header nav {
    background-color: #004e63;
  }
  .header nav .indice__logo {
    height: 80px;
  }
  .header nav ul {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #004e63;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .header #check {
    display: none;
  }
  .header .link:hover {
    background: none;
    color: grey;
  }
  .header #check:checked ~ ul {
    left: 0;
  }
  .title {
    background-color: #e3f2fd;
  }
  .title h1 {
    font-family: "Sweet Aloha";
    margin-top: 10px;
  }
  .buscador {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buscador input.src {
    text-align: center;
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 3px solid #e3f2fd;
    background: url(../images/buscador.png) no-repeat left;
  }
  .parrafo p {
    background: rgb(153, 180, 191);
    background: linear-gradient(90deg, rgb(153, 180, 191) 0%, rgb(255, 255, 255) 50%, rgb(153, 180, 191) 100%);
    font-size: 20px;
    text-align: center;
  }
  .funcion {
    text-align: center;
  }
  .cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .cardContainer .card {
    width: calc(50% - 40px);
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
    cursor: default;
    transition: all 400ms ease;
  }
  .cardContainer .card:nth-child(odd) {
    margin-right: 20px;
  }
  .cardContainer .card:nth-child(even) {
    margin-left: 20px;
  }
  .cardContainer .card:hover {
    box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);
    transform: translateY(-3%);
  }
  .cardContainer .card img {
    width: 100%;
    height: 210px;
  }
  .cardContainer .card .contenido {
    padding: 15px;
    text-align: center;
  }
  .cardContainer .card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
  }
  .cardContainer .card .contenido h3 {
    margin-bottom: 15px;
  }
  .cardContainer .card .contenido a {
    text-decoration: none;
    display: inline-block;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    padding: 3px;
  }
  .cardContainer .card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
  }
  /* Footer */
  footer {
    background-color: #004e63;
  }
  .title {
    background-color: #e3f2fd;
  }
  .title h1 {
    font-family: "Sweet Aloha";
  }
}
@media screen and (min-width: 859px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header nav {
    background: #004e63;
    height: 80px;
    width: 100%;
  }
  .header nav .enlace {
    position: absolute;
    padding: 0px 50px;
  }
  .header nav .enlace .indice__logo {
    height: 80px;
  }
  .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #004e63;
    background: #004e63;
    margin-right: 20px;
  }
  .header nav ul li {
    margin: 0 30px;
    line-height: 80px;
  }
  .header nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  .header nav .checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .header nav #check {
    display: none;
  }
  .header nav .link:hover {
    background: grey;
  }
  footer {
    background-color: #004e63;
  }
  body {
    height: 150vh;
    width: 100%;
  }
  body .title {
    background-color: #e3f2fd;
  }
  body .title h1 {
    font-family: "Sweet Aloha";
    margin-top: 10px;
  }
  body .buscador {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .buscador input.src {
    text-align: center;
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    border: 3px solid #e3f2fd;
    background: url(../images/buscador.png) no-repeat left;
    transition: all 0.5s ease;
  }
  body .buscador input.src:hover {
    width: 300px;
    border-color: #e3f2fd;
    box-shadow: 0 0 5px #004e63;
    font-size: 20px;
  }
  body .parrafo {
    width: 90%;
  }
  body .parrafo p {
    background: rgb(153, 180, 191);
    background: linear-gradient(90deg, rgb(153, 180, 191) 0%, rgb(255, 255, 255) 50%, rgb(153, 180, 191) 100%);
    font-size: 30px;
    text-align: center;
  }
  body .funcion {
    text-align: center;
  }
  body .cardContainer {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    gap: 80px;
  }
  body .cardContainer .card {
    width: calc(25% - 10px);
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
    cursor: default;
    transition: all 400ms ease;
  }
  body .cardContainer .card:hover {
    box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);
    transform: translateY(-3%);
  }
  body .cardContainer .card img {
    width: 100%;
    height: 210px;
  }
  body .cardContainer .card .contenido {
    padding: 15px;
    text-align: center;
  }
  body .cardContainer .card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
  }
  body .cardContainer .card .contenido h3 {
    margin-bottom: 15px;
  }
  body .cardContainer .card .contenido a {
    text-decoration: none;
    display: inline-block;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    padding: 3px;
  }
  body .cardContainer .card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
  }
}

/*# sourceMappingURL=style.css.map */
