* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Pagina en la que estoy se visualiza en negro
#active1 {
  color: black;
}
// Icono de whatsapp
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

// Utilizo fuente externa de texto
@font-face {
  font-family: "Sweet Aloha";
  src: url(../fuentes/sweet_aloha/Sweet\ Aloha.ttf);
  font-weight: bold;
  font-style: bold;
}

@media (max-width: 549px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;

    .checkbtn {
      display: block;
      float: right;
      color: white;
      font-size: 30px;
      line-height: 50px;
      margin-right: 40px;
      cursor: pointer;
    }
    nav {
      background-color: #004e63;

      .indice__logo {
        height: 80px;
      }
      ul {
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #004e63;
        top: 45px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;

        li {
          display: block;
          margin: 50px 0;
          line-height: 30px;

          a {
            font-size: 20px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    #check {
      display: none;
    }

    .link:hover {
      background: none;
      color: grey;
    }

    #check:checked ~ ul {
      left: 0;
    }
  }
  .cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 27px;
    font-size: 25px;

    .cart-icon {
      display: flex;
      align-items: center;
      position: relative;
      color: black;
      height: 50px;
    }

    .cart-count {
      background-color: grey;
      color: #fff;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      position: absolute;
      top: -5px;
      right: -11px;
      min-width: 16px;
      text-align: center;
      margin-top: 18px;
    }
  }
  // Page body
  .title {
    background-color: #e3f2fd;
    h1 {
      font-family: "Sweet Aloha";
      margin-top: 10px;
    }
  }
  .buscador {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    input.src {
      text-align: center;
      padding: 9px 10px 9px 32px;
      outline: none;
      font-size: 15px;
      border-radius: 15px;
      border: 3px solid #e3f2fd;
      background: url(../images/buscador.png) no-repeat left;
      transition: all 0.5s ease;
      width: 300px;
    }
    input.src:hover {
      border-color: #e3f2fd;
      box-shadow: 0 0 5px #004e63;
      font-size: 20px;
    }
    ul.results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #ffffff;
      border-radius: 0 0 15px 15px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      z-index: 9999;

      ul.results.hide-results {
        display: none;
      }
      li.result {
        padding: 5px 10px;
        border-bottom: 1px solid #e3f2fd;
        font-size: 15px;
        color: #004e63;

        li.result:last-child {
          border-bottom: none;
        }
        li.result:hover {
          background-color: #e3f2fd;
          cursor: pointer;
        }
      }
      .result-item-hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  .parrafo {
    p {
      background: rgb(153, 180, 191);
      background: linear-gradient(
        90deg,
        rgba(153, 180, 191, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(153, 180, 191, 1) 100%
      );
      font-size: 20px;
      text-align: center;
    }
  }
  .funcion {
    text-align: center;
  }

  .cardContainer {
    flex-direction: column;

    .card {
      display: flex;
      margin: 20px;
      margin-left: 50px;
      margin-bottom: 50px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
      cursor: default;
      transition: all 400ms ease;

      width: calc(90% - 40px); /* cambiado desde width: 100% */

      &:hover {
        box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);
        transform: translateY(-3%);
      }

      img {
        width: 100%;
        height: 210px;
      }
      .contenido {
        padding: 15px;
        text-align: center;

        p {
          line-height: 1.5;
          color: #6a6a6a;
        }
        h3 {
          margin-bottom: 15px;
        }
        a {
          text-decoration: none;
          display: inline-block;
          color: #2fb4cc;
          border: 1px solid #2fb4cc;
          border-radius: 4px;
          transition: all 400ms ease;
          padding: 3px;
          &:hover {
            background: #2fb4cc;
            color: #fff;
          }
        }
      }
    }
  }
  footer {
    background-color: #004e63;
  }
  .title {
    background-color: #e3f2fd;
    h1 {
      font-family: "Sweet Aloha";
    }
  }
}

/* NAV BAR */
@media screen and (min-width: 550px) and (max-width: 858px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;

    .checkbtn {
      display: block;
      float: right;
      color: white;
      font-size: 30px;
      line-height: 50px;
      margin-right: 40px;
      cursor: pointer;
    }
    nav {
      background-color: #004e63;

      .indice__logo {
        height: 80px;
      }
      ul {
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #004e63;
        top: 45px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;

        li {
          display: block;
          margin: 50px 0;
          line-height: 30px;

          a {
            font-size: 20px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    #check {
      display: none;
    }

    .link:hover {
      background: none;
      color: grey;
    }

    #check:checked ~ ul {
      left: 0;
    }
  }
  .cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 27px;
    font-size: 25px;

    .cart-icon {
      display: flex;
      align-items: center;
      position: relative;
      color: black;
      height: 50px;
    }

    .cart-count {
      background-color: grey;
      color: #fff;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      position: absolute;
      top: -5px;
      right: -11px;
      min-width: 16px;
      text-align: center;
      margin-top: 18px;
    }
  }
  // Page body
  .title {
    background-color: #e3f2fd;
    h1 {
      font-family: "Sweet Aloha";
      margin-top: 10px;
    }
  }
  .buscador {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    input.src {
      text-align: center;
      padding: 9px 10px 9px 32px;
      outline: none;
      font-size: 15px;
      border-radius: 15px;
      border: 3px solid #e3f2fd;
      background: url(../images/buscador.png) no-repeat left;
      transition: all 0.5s ease;
      width: 300px;
    }
    input.src:hover {
      border-color: #e3f2fd;
      box-shadow: 0 0 5px #004e63;
      font-size: 20px;
    }
    ul.results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #ffffff;
      border-radius: 0 0 15px 15px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      z-index: 9999;

      ul.results.hide-results {
        display: none;
      }
      li.result {
        padding: 5px 10px;
        border-bottom: 1px solid #e3f2fd;
        font-size: 15px;
        color: #004e63;

        li.result:last-child {
          border-bottom: none;
        }
        li.result:hover {
          background-color: #e3f2fd;
          cursor: pointer;
        }
      }
      .result-item-hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  .parrafo {
    p {
      background: rgb(153, 180, 191);
      background: linear-gradient(
        90deg,
        rgba(153, 180, 191, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(153, 180, 191, 1) 100%
      );
      font-size: 20px;
      text-align: center;
    }
  }
  .funcion {
    text-align: center;
  }

  .cardContainer {
    width: 100%;
    display: flex;

    flex-wrap: wrap;

    .card {
      width: calc(50% - 40px);
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
      cursor: default;
      transition: all 400ms ease;

      &:nth-child(odd) {
        margin-right: 20px;
      }

      &:nth-child(even) {
        margin-left: 20px;
      }

      &:hover {
        box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);
        transform: translateY(-3%);
      }

      img {
        width: 100%;
        height: 210px;
      }
      .contenido {
        padding: 15px;
        text-align: center;

        p {
          line-height: 1.5;
          color: #6a6a6a;
        }
        h3 {
          margin-bottom: 15px;
        }
        a {
          text-decoration: none;
          display: inline-block;
          color: #2fb4cc;
          border: 1px solid #2fb4cc;
          border-radius: 4px;
          transition: all 400ms ease;
          padding: 3px;

          &:hover {
            background: #2fb4cc;
            color: #fff;
          }
        }
      }
    }
  }

  /* Footer */

  footer {
    background-color: #004e63;
  }
  .title {
    background-color: #e3f2fd;
    h1 {
      font-family: "Sweet Aloha";
    }
  }
}

@media screen and (min-width: 859px) {
  // Nav Bar
  .header {
    position: sticky;
    top: 0;
    z-index: 2;

    nav {
      background: #004e63;
      height: 80px;
      width: 100%;

      .enlace {
        position: absolute;
        padding: 0px 50px;
        .indice__logo {
          height: 80px;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #004e63;
        background: #004e63;
        margin-right: 20px;

        li {
          margin: 0 30px;
          line-height: 80px;

          a {
            color: white;
            font-size: 16px;
            text-decoration: none;
            padding: 7px 13px;
            text-transform: uppercase;
          }
        }
      }

      .checkbtn {
        color: white;
        font-size: 30px;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }

      #check {
        display: none;
      }
      .link:hover {
        background: grey;
      }
    }
  }
  .cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 27px;
    font-size: 25px;

    .cart-icon {
      display: flex;
      align-items: center;
      position: relative;
      color: black;
      height: 50px;
    }

    .cart-count {
      background-color: grey;
      color: #fff;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      position: absolute;
      top: -5px;
      right: -11px;
      min-width: 16px;
      text-align: center;
      margin-top: 18px;
    }
  }

  // Footer
  footer {
    background-color: #004e63;
  }
  // Page Body
  body {
    height: 150vh;
    width: 100%;

    .title {
      background-color: #e3f2fd;
      h1 {
        font-family: "Sweet Aloha";
        margin-top: 10px;
      }
    }
    .buscador {
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;

      input.src {
        text-align: center;
        padding: 9px 10px 9px 32px;
        outline: none;
        font-size: 15px;
        border-radius: 15px;
        border: 3px solid #e3f2fd;
        background: url(../images/buscador.png) no-repeat left;
        transition: all 0.5s ease;
        width: 300px;
      }
      input.src:hover {
        border-color: #e3f2fd;
        box-shadow: 0 0 5px #004e63;
        font-size: 20px;
      }
      ul.results {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #ffffff;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        z-index: 9999;

        ul.results.hide-results {
          display: none;
        }
        li.result {
          padding: 5px 10px;
          border-bottom: 1px solid #e3f2fd;
          font-size: 15px;
          color: #004e63;

          li.result:last-child {
            border-bottom: none;
          }
          li.result:hover {
            background-color: #e3f2fd;
            cursor: pointer;
          }
        }
        .result-item-hover {
          background-color: #f5f5f5;
          cursor: pointer;
        }
      }
    }
    .parrafo {
      width: 90%;

      p {
        background: rgb(153, 180, 191);
        background: linear-gradient(
          90deg,
          rgba(153, 180, 191, 1) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(153, 180, 191, 1) 100%
        );
        font-size: 30px;
        text-align: center;
      }
    }
    .funcion {
      text-align: center;
    }

    .cardContainer {
      width: 100%;
      display: flex;
      max-width: 1200px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin: 0 auto;
      gap: 80px;

      .card {
        width: calc(25% - 10px);
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 1px 1px 10px rgba(3, 82, 85, 0.925);
        cursor: default;
        transition: all 400ms ease;

        &:hover {
          box-shadow: 1px 1px 10px rgba(1, 33, 34, 0.925);

          transform: translateY(-3%);
        }

        img {
          width: 100%;
          height: 210px;
        }
        .contenido {
          padding: 15px;
          text-align: center;

          p {
            line-height: 1.5;
            color: #6a6a6a;
          }
          h3 {
            margin-bottom: 15px;
          }
          a {
            text-decoration: none;
            display: inline-block;
            color: #2fb4cc;
            border: 1px solid #2fb4cc;
            border-radius: 4px;
            transition: all 400ms ease;
            padding: 3px;

            &:hover {
              background: #2fb4cc;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
